/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/

/**
 * Heading 1 base styles
 */
h1 {
	font-size: $fs-h1;
}

/**
 * Heading 2 base styles
 */
h2 {
	font-size: $fs-h2;
}

/**
 * Heading 3 base styles
 */
h3 {
	font-size: $fs-h3;
}

/**
 * Heading 4 base styles
 */

